.login-frame {
    min-height: 338px;
    height: 362px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    margin-top: 60px;
    background: #fff;
    border-radius: 20px;
}

.width-vertical {
    width: 100%;
    margin-bottom: 20px;
}

input {
    font-size: 14px;
    line-height: 150%;
    color: #25262b;
}

input:focus {
    background: #ffffff !important;
}

.fm-button {
    border-width: 0;
    box-shadow: none;
    outline: none;
}

.nc-outer-box {
    padding-top: 0;
}

.login-form {
    padding-left: 22px;
    padding-right: 22px;
}
.fm-field {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
}
.login-blocks.block0 {
    padding: 0;
    text-align: center;
    display: flex;
    margin-bottom: 18px;
}

.qrcode-login .login-blocks.block0 {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

.qrcode-login .qrcode-img {
    padding: 4px;
}

.qrcode-login .qrcode-img button.refresh {
    font-size: 12px;
    color: #f0f0f0;
    background: #637dff;
    line-height: 24px;
    height: 24px;
    width: auto;
    padding: 0px 10px;
    border-radius: 30px;
    border: 0;
}

input:focus {
    border: 1px solid rgba(99, 125, 255, 0.48) !important;
}

.qrcode-desc {
    width: 100%;
}

.qrcode-desc .iconfont {
    display: none;
}

.qrcode-desc p {
    padding-left: 0;
    text-align: center;
    font-size: 14px !important;
    line-height: 150%;
    color: #25262b !important;
}

.qrcode-desc span {
    font-size: 14px !important;
    line-height: 150% !important;
    color: #25262b !important;
}

.login-blocks.block0 .sms-login-link,
.login-blocks.block0 .sms-login-title {
    margin: 0;
    flex: 1;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    padding: 14px 16px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
}

.login-blocks.block0 .sms-login-link {
    color: #25262b;
    background: #fff;

}

.login-blocks.block0 .sms-login-title {
    background: #f5f5f6;
    color: rgba(37, 38, 43, 0.36);
    cursor: pointer;
}

.web-windows .login-blocks.block0 .sms-login-title {
    font-weight: 500;
}

.login-label-text .fm-text {
    padding-left: 0;
}

.login-label-text .login-form .fm-field .fm-label {
    display: none;
}

.login-label-text .phone-code-select {
    bottom: 10px;
    display: none;
}

.login-label-text .phone-code-select .phone-code {
    height: 22px;
    line-height: 22px;
    border: 0;
    width: auto;
    padding-right: 10px;
    background: #f1f2f3;
}

.show-phonecode .login-label-text .phone-code-select {
    display: block;
}

.show-phonecode .login-label-text .fm-field.fm-field-mobile .fm-text {
    padding-left: 60px;
}

.login-label-text .phone-code-select .phone-code .icon-arrow {
    display: none;
}

.login-label-text .fm-field.fm-field-mobile .fm-text {
    padding-left: 12px;
}

.fm-field .fm-text {
    border: 0;
    font-size: 14px;
    background: rgba(39, 39, 41, 0.04);
    border-radius: 8px;
    padding-left: 12px;
    width: 304px;
    border: 1px solid transparent;
    height: 46px;
}

.fm-field .fm-text::placeholder {
    font-size: 14px;
    color: rgba(37, 38, 43, 0.36);
}

.login-label-text .fm-field {
    margin-bottom: 16px;
}

.fm-field-sms .send-btn {
    right: 16px;
}

.fm-field-sms .send-btn a {
    color: #637dff;
    border: 1px solid rgba(99, 125, 255, 0.24);
    border-radius: 6px;
    padding: 4px 12px;
    line-height: 150%;
    font-size: 14px;
    margin: 8px auto;
    right: 0;
    display: inline-block;
}
.width-vertical .fm-btn {
    width: 100%;
}
.forgot-password-links {
    display: none;
}

.login-blocks.agreement-block {
    text-align: left;
    font-family: PingFangSC-Regular;
}

.login-blocks.agreement-block {
    margin-top: 18px;
}

.license-margin .login-blocks.agreement-block {
    margin-top: 34px;
}

.login-blocks.agreement-block > div.fm-agreement {
    display: flex;
}

.login-blocks.agreement-block input {
    margin-top: 1px;
    height: 16px;
    width: 16px;
}

.login-blocks.agreement-block a {
    font-size: 12px !important;
    line-height: 160%;
    padding: 0 5px;
    color: #637dff !important;
    margin-left: 0;
}

.login-blocks.agreement-block > div.fm-agreement > label {
    font-size: 12px;
    line-height: 160%;
    color: rgba(37, 38, 43, 0.36);
    margin-left: 8px;
}

.login-label-text .fm-btn {
    margin-top: 30px;
}

.mobile .login-label-text .fm-btn {
    margin-top: 30px;
}

.mobile {
    padding-top: 0px;
}

.mobile .width-vertical {
    margin-bottom: 0;
}

.mobile .master-login-title {
    text-align: center;
    font-size: 20px;
    color: #333;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
}

.mobile .password-login-subTitle,
.mobile .sms-login-subTitle {
    color: #7b7b7b;
    font-family: PingFangSC-Regular;
    font-weight: normal;
}

.mobile .phone-code-select {
    display: none;
}

.mobile .login-label-text .fm-field.fm-field-mobile .fm-text {
    padding-left: 10px;
}

.mobile #fm-login-id {
    padding-right: 40px;
}

.mobile #fm-login-password {
    padding-right: 72px;
}

.mobile #fm-sms-login-id {
    padding-right: 40px;
}

.mobile.show-phonecode .phone-code-select {
    display: block;
}

.mobile.show-phonecode .login-label-text .fm-field.fm-field-mobile .fm-text {
    padding-left: 80px;
    padding-right: 40px;
}

.mobile .login-blocks.block0 {
    text-align: center;
    color: #7b7b7b;
    margin-bottom: 10px;
}

.mobile .login-blocks.block0 .sms-login-subTitle {
    font-size: 14px;
}

.mobile .login-blocks.block0 .password-login-subTitle {
    font-size: 14px;
}

.mobile .login-content.nc-outer-box {
    padding-left: 20px;
    padding-right: 20px;
}

.mobile .login-label-text .login-form .fm-field .fm-label {
    display: none;
}

.mobile .login-label-text .login-form .fm-field .fm-text {
    outline: 0;
    border: 0;
    padding-left: 0;
    height: 40px;
    margin-top: 6px;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}

.mobile .login-label-text .login-form .send-btn {
    color: #637dff;
    border: 0.5px solid #637dff;
    border-radius: 14px;
    padding: 6px 10px;
    line-height: 12px;
    font-size: 12px;
    margin: 8px auto;
    right: 0;
}

.mobile .login-label-text .login-form .send-btn a {
    color: #637dff;
}

.mobile .login-label-text .login-form .login-blocks.login-links {
    text-align: center;
}

.mobile .login-label-text .login-form .login-blocks.login-links::after,
.mobile .login-label-text .login-form .login-blocks.login-links::before {
    content: none;
}

.mobile .login-label-text .login-form .login-blocks.login-links a {
    margin: 5px 0;
    text-align: left;
    color: #637dff;
    font-size: 14px;
}

.mobile .login-label-text .login-form .fm-field.fm-field-mobile .phone-code-select {
    background: #f7f7f7;
}

.mobile .login-label-text .login-form .fm-field.fm-field-mobile .phone-code-select .phone-code {
    border-right: 0;
}

.mobile .login-label-text .login-form .fm-button {
    width: 100%;
    font-size: 16px;
    height: auto;
}

.mobile .login-blocks.agreement-block a {
    color: #ff6a00;
    font-size: 14px;
}

.mobile .input-del-btn,
.mobile .password-look-btn {
    margin-left: 4px;
    bottom: 8px;
    right: 2px;
}

.mobile .input-del-btn .iconfont {
    font-size: 28px;
    background-size: 100% 100%;
    display: block;
    width: 30px;
    height: 30px;
}

.mobile .input-del-btn .iconfont::before {
    content: none;
}

.mobile .input-del-btn .iconfont.icon-del {
    background-image: url(img/close.png);
}

.mobile .password-look-btn .iconfont {
    font-size: 28px;
    background-size: 100% 100%;
    display: block;
    width: 30px;
    height: 30px;
}

.mobile .password-look-btn .iconfont::before {
    content: none;
}

.mobile .password-look-btn .iconfont.icon-eye-close {
    background-image: url(img/eye-close.png);
}

.mobile .password-look-btn .iconfont.icon-eye-open {
    background-image: url(img/eye-open.png);
}

.mobile .input-wrap-smscode .input-del-btn {
    right: 86px;
}

.mobile .has-password-look-btn .input-del-btn {
    right: 34px;
}

.mobile .fm-button.fm-submit:disabled {
    background-image: none;
    box-shadow: none;
    background: #e7e8e9;
    border-color: #e7e8e9;
    color: #ccc;
}
.fm-button {
    background-color: #ff9000;
    background-image: -webkit-gradient(linear,left top,right top,from(#ff9000),to(#ff9000));
    background-image: linear-gradient(90deg,#ff9000,#ff9000);
    border: 1px solid #ff9000;
    border-radius: 3px;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    outline: none;
    color: #fff;
    width: 100%;
    cursor: pointer;
}
.am-button.am-button-submit,
.fm-button {
    border-radius: 21px;
    font-size: 16px;
    color: #fff;
    border-width: 0;
    box-shadow: none;
    background: none;
    outline: none;
}

.fm-button {
    width: 100%;
    height: 48px;
    background-image: linear-gradient(129.12deg, #446dff 0%, rgba(99, 125, 255, 0.75) 100%);
    border-radius: 10px;
    backdrop-filter: blur(24px);
}

.icon-sms::before {
    content: '\E626';
    color: #fa6400;
}

.login-tip .poptip {
    border: 1px solid #fa6400;
}

.login-tip .poptip .poptip-arrow em {
    border-left-color: #fa6400;
}

.login-tip .poptip .poptip-content {
    color: #fa6400;
}

::-webkit-input-placeholder {
    color: #c7c7cc;
    font-size: 16px;
}

::-moz-placeholder {
    color: #c7c7cc;
    font-size: 16px;
}

::-ms-input-placeholder {
    color: #c7c7cc;
    font-size: 16px;
}

.vssss {
    color: #fff;
}

.login-view-qrcode .qrcode-login .qrcode-img {
    box-shadow: 0px 0px 1px 1px rgba(28, 28, 32, 0.05), 0px 8px 24px rgba(28, 28, 32, 0.12);
    border-radius: 10px;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-view-qrcode .qrcode-login .qrcode-img canvas {
    width: 112px !important;
    height: 112px !important;
    margin: 0 !important;
}

.login-view-qrcode .qrcode-login .qrcode-img > .qrcode-error {
    width: 100% !important;
    height: 100% !important;
}

.qrcode-img {
    margin: 40px auto 20px;
}

.qrcode-success {
    margin-top: 60px;
}

.qrcode-success canvas {
    display: none;
}

.login-view-sms .sms-send-success .sms-send-success-tip {
    margin-top: -10px;
    margin-bottom: -10px;
    position: absolute;
    color: rgba(37, 38, 43, 0.72);
}

#fm-agreement-checkbox {
    display: flex;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: none !important;
    outline: none;
}

#fm-agreement-checkbox:checked::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #637dff;
    border-radius: 50%;
    background-image: url(https://gw.alicdn.com/imgextra/i2/O1CN01fio0bI20MwAI50Hjs_!!6000000006836-2-tps-40-40.png);
    background-size: 100%;
    border: none;
    box-sizing: content-box;
}

#fm-agreement-checkbox::before {
    width: 16px;
    height: 16px;
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid rgba(132, 133, 141, 0.2);
}

.protocol {
    font-size: 12px;
    line-height: 160%;
    color: rgba(37, 38, 43, 0.36);
    margin-left: 8px;
    flex: 1;
}

.protocol a {
    color: #637dff;
}

.mobile .login-view-sms .sms-send-success .sms-send-success-tip {
    margin-top: 5px;
}
.login-frame .adrive-action-container {
    position: absolute;
    padding: 0 22px;
    top: 270px;
    height: 19px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: rgba(37,38,43,.36);
}
.login-frame .adrive-action-container[data-tab=password]{
    justify-content: space-between;
}
.adrive-action-container .remember-login > * {
    color: rgba(37,38,43,.36);
    font-size: 12px;
    display: flex;
    height: 100%;
}
.login-frame .adrive-action-container .forgot-password {
    font-size: 12px;
    color: rgba(37,38,43,.72);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fm-field-sms .send-btn {
    position: absolute;
    right: 10px;
    bottom: 0;
    line-height: 40px;
}
.fm-field-sms .send-btn {
    right: 16px;
}
.fm-field-sms .send-btn a {
    text-decoration: none;
}
.fm-field-sms .send-btn .send-btn-link {
    color: #637dff;
    border: 1px solid rgba(99, 125, 255, 0.24);
    border-radius: 6px;
    padding: 4px 12px;
    line-height: 150%;
    font-size: 14px;
    margin: 8px auto;
    right: 0;
    display: inline-block;
}